#markdown-toc {
  font-size: 0.9rem;
  border-left: 2px solid #eaeaea;
  padding-left: 12px;
  margin-bottom: 40px;
}

#markdown-toc li {
  list-style: none;
  margin: 6px 0;
}

#markdown-toc a {
  text-decoration: none;
  color: #555;
}

#markdown-toc a:hover {
  color: #000;
}
