---
---

@import "{{ site.theme }}";

/* ===== SENİN EKLEMELERİN ===== */

details summary .subtitle {
  font-size: 1.5rem;
}

details summary .subtitle2 {
  font-size: 1.25rem;
}

@media (max-width: 768px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header h1 {
        margin: 0;
        text-align: center;
    }
}
